services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    command: bun run apps/server/dist/index.js
    ports:
      - "3002:3000"
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    command: bunx serve apps/web/dist -l 3001 -s
    ports:
      - "3001:3001"
    restart: unless-stopped
