services:
  app:
    container_name: 21s2mars-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
      - "3002:3001"
    env_file:
      - .env
    restart: unless-stopped
