name: _21s2mars

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    image: 21s2mars-server:latest
    command: >
      sh -c "
      bunx prisma migrate deploy &&
      bun run apps/server/dist/index.js
      "
    restart: unless-stopped
    networks:
      - dokploy-network
    environment:
      - NODE_ENV
      - DATABASE_URL
      - DIRECT_URL
      - REDIS_URL
      - TICKER_REDIS_TTL_SEC
      - BETTER_AUTH_SECRET
      - BETTER_AUTH_URL
      - CORS_ORIGIN
      - BNB_RPC_URL
      - BNB_PRIVATE_KEY
      - BNB_TEST_NET_CONTRACT_ADDRESS
      - SIMULATION_TRADE_AMOUNT_USD
      - EMAIL
      - EMAIL_PASSWORD
      - EMAIL_FROM
      - SMTP_HOST
      - SMTP_PORT
      - ADMIN_EMAIL
      - LOCAL_OKX_PROXY
    labels:
      - traefik.enable=true
      - traefik.docker.network=dokploy-network
      - traefik.http.routers._21s2mars-api.rule=Host(`api.21seconds2mars.com`)
      - traefik.http.routers._21s2mars-api.entrypoints=web
      - traefik.http.routers._21s2mars-api.middlewares=redirect-to-https@file
      - traefik.http.routers._21s2mars-apisecure.rule=Host(`api.21seconds2mars.com`)
      - traefik.http.routers._21s2mars-apisecure.entrypoints=websecure
      - traefik.http.routers._21s2mars-apisecure.tls=true
      - traefik.http.routers._21s2mars-apisecure.tls.certresolver=letsencrypt
      - traefik.http.services._21s2mars-api.loadbalancer.server.port=3000

  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
      args:
        VITE_SERVER_URL: ${VITE_SERVER_URL}
    image: 21s2mars-web:latest
    command: bunx serve apps/web/dist -l 3001 -s
    restart: unless-stopped
    networks:
      - dokploy-network
    labels:
      - traefik.enable=true
      - traefik.docker.network=dokploy-network
      - traefik.http.routers._21s2mars-web.rule=Host(`21seconds2mars.com`,`www.21seconds2mars.com`)
      - traefik.http.routers._21s2mars-web.entrypoints=web
      - traefik.http.routers._21s2mars-web.middlewares=redirect-to-https@file
      - traefik.http.routers._21s2mars-websecure.rule=Host(`21seconds2mars.com`,`www.21seconds2mars.com`)
      - traefik.http.routers._21s2mars-websecure.entrypoints=websecure
      - traefik.http.routers._21s2mars-websecure.tls=true
      - traefik.http.routers._21s2mars-websecure.tls.certresolver=letsencrypt
      - traefik.http.services._21s2mars-web.loadbalancer.server.port=3001

networks:
  dokploy-network:
    external: true
