services:
  server:
    build:
      context: ../../
      dockerfile: apps/server/Dockerfile
      target: runtime
    command: bun run apps/server/dist/index.js
    ports:
      - "3002:3000"
    restart: unless-stopped
    env_file:
      - .env
